.webassets-cache/
webassets-external/
.DS_Store
*.pyc
*.pyo
env
venv
.env
env*
dist
*.egg
*.egg-info
*.sqlite
.idea
dump.rdb
data-dev.sqlite

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
